Импортируем нужные библиотеки.

In [1]:
import pandas as pd

У вас будет папка data,  содержащая необходимые файлы. 

Мы в дпльнейшем будем решать задачу предсказания категории возраста, к которой принадлежит клиент банка, на основании его транзакций.
В обучающем наборе содержатся информация по транзакциям 30000 клиентов, она находится в файле **transactions_train.csv**. Правильная категория возраста для обучающего набора находится в файле **train_target.csv**.

Считаем данные по транзакциям и правильные ответы.

In [2]:
transactions_train=pd.read_csv('data/transactions_train.csv')

In [3]:
train_target=pd.read_csv('data/train_target.csv')

Посмотрим на данные.

In [4]:
transactions_train.head(10)

   client_id  trans_date  small_group  amount_rur
0      33172           6            4      71.463
1      33172           6           35      45.017
2      33172           8           11      13.887
3      33172           9           11      15.983
4      33172          10           11      21.341
5      33172          11           11      17.941
6      33172          12           11      17.726
7      33172          13           18      47.397
8      33172          13            1     220.009
9      33172          13           11       9.067

* client_id - уникальный идентификатор клиента
* trans_date - дата совершения транзакции
* small_group - категория покупки
* amount_rur - сумма транзакции

In [5]:
train_target.head(10)

   client_id  bins
0      24662     2
1       1046     0
2      34089     2
3      34848     1
4      47076     3
5      10938     2
6      42965     1
7      21594     0
8       7952     1
9      33810     0

* client_id - уникальный идентификатор клиента, соответствует полю client_id из транзакций
* bins - целевая переменная, которую нужно предсказать, это категория возраста клиента

Проанализируйте данные. Создайте по каждому клиенту различные характеристики.