In [3]:
import pandas as pd

In [2]:
df = pd.read_csv("titanic.csv", index_col="PassengerId")
df.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## 1. Какое количество мужчин и женщин ехало на корабле?

В качестве ответа приведите два числа через пробел.

## 2. Какой части пассажиров удалось выжить?

Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

## 3. Какую долю пассажиры первого класса составляли среди всех пассажиров?

Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен).

## 4. Какого возраста были пассажиры?

Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа.

## 5. Определите возрастной диапазон пассажиров, а также выживших пассажиров

## 6. Какое самое популярное женское имя на корабле?

Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.